:root {
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(193, 235, 248);
  text-align: center;
}

/* header containing nav bar */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  font-size: 20px;
}

/* Timer */
.timer {
  display: flex;
  align-items: center;
  width: 100px;
  height: 45px;
  border-style: solid;
  border-color: blue;
  background-color: #ffff;
  border-radius: 5px;
  font-weight: 400;
  font-size: 17px;
  padding: 0 8px;
}

/* Start button */
.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-btn button {
  font-size: 25px;
  font-weight: 400;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #ffff;
}

.start-btn button:hover {
  cursor: pointer;
}

.start-btn button:active {
  background-color: rgb(162, 255, 235);
}

/* Initial front page style */

.starter-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(4, 4, 172);
  border-radius: 5px;
  padding: 20px 30px;
  /* opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9); */
}

.starter-container.activeStarter {
  opacity: 1;
  pointer-events: auto;
  z-index: 5;
  transform: translate(-50%, -50%) scale(1);
}

/* Quiz question styling */

.questions-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(4, 4, 172);
  border-radius: 5px;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.questions-section .question-text {
  font-size: 25px;
  font-weight: 500;
}

.questions-section .option-list {
  padding: 20px 0px;
  display: block;
}

section .option-list .option {
  align-items: center;
  justify-content: space-between;
  background: aliceblue;
  border: 1px;
  border-style: solid;
  border-color: #84c5fe;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 8px 15px;
}

section .option-list .option:hover {
  background: #cce5ff;
  border-color: #b8daff;
}

.next-question {
  height: 30px;
  padding: 0px 13px;
}

/* Results Page */

.results-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  width: 450px;
  padding: 25px 30px;
  border-radius: 15px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.score span p {
  font-weight: 500;
  padding: 0 5px;
}

/* Restart and Quit game button */
.results-container .buttons button {
  margin: 5px;
  height: 30px;
  padding: 0px 13px;
  border-radius: 5px;
  border-color: black;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #78c4f7;
  border-color: black;
  cursor: pointer;
}

.buttons button:active {
  position: relative;
  top: 1px;
}
