* {
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(193, 235, 248);
}

/* header containing nav bar */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  font-size: 20px;
}

/* Timer */
.timer {
  display: flex;
  align-items: center;
  width: 100px;
  height: 45px;
  border-style: solid;
  border-color: blue;
  background-color: #ffff;
  border-radius: 5px;
  font-weight: 400;
  font-size: 17px;
  padding: 0 8px;
}

/* Initial front page style */

.container {
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: center;
  background-color: #ffff;
  border-style: solid;
  height: 180px;
  border-width: 2px;
  padding: 20px;
  margin: 10px 50px;
}

.title {
  text-align: center;
}

.paragraph {
  text-align: center;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-btn:hover {
  background-color: #78c4f7;
  cursor: pointer;
}
.start-btn:active {
  position: relative;
  top: 1px;
}

/* Quiz question styling */

.questions-section {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  background-color: #ffff;
  border-style: solid;
  border-color: rgb(4, 4, 172);
  border-radius: 5px;
  padding: 20px 30px;
}

.questions-section .question-text {
  font-size: 25px;
  font-weight: 500;
}

.questions-section .option-list {
  padding: 20px 0px;
  display: block;
}

section .option-list .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: aliceblue;
  border: 1px;
  border-style: solid;
  border-color: #84c5fe;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 8px 15px;
}

section .option-list .option:hover {
  background: #cce5ff;
  border-color: #b8daff;
}

.next-question {
  height: 30px;
  padding: 0px 13px;
}
