* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 30px;
  margin-right: 50px;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-color: #38b000;
  border-style: solid;
  border-width: 2px;
  padding: 30px;
  margin: 10px 50px;
}

.title {
  text-align: center;
}

.paragraph {
  text-align: center;
}

.start-btn {
  border-radius: 5px;
  border-color: green;
}

.start-btn:hover {
  background-color: #80da54;
}
.start-btn:active {
  position: relative;
  top: 1px;
}
